<div class="container">

    <header id="home" class="header">
        <h2 class="name__person">Rahmonjon Ibragimov</h2>
    </header>

    <main class="main__body">

        <section id="Card" class="section__card">

            <div class="div__card card-1">
                <div class="card__box">
                    <div class="box__sentence">
                        <h2>Weekly Sales</h2>
                        <img class="icons chart__increase" src="../assets/img/chart__increase.svg" alt="">
                    </div>
                    <div class="amount">
                        <h2 class="number_shown">$ 15000</h2>
                    </div>
                    <div class="sentence__two">
                        <h2 class="">Increased by 40%</h2>
                    </div>
                </div>
            </div>

            <div class="div__card card-2">
                <div class="card__box">
                    <div class="box__sentence">
                        <h2>Weekly Orders</h2>
                        <img class="icons" src="../assets/img/cart-outline.svg" alt="">
                    </div>
                    <div class="amount">
                        <h2 class="number_shown">456334</h2>
                    </div>
                    <div class="sentence__two">
                        <h2>Decreased by 10%</h2>
                    </div>
                </div>

            </div>

            <div class="div__card card-3">
                <div class="card__box">
                    <div class="box__sentence">
                        <h2>Visitors Online</h2>
                        <img class="icons" src="../assets/img/eye-outline.svg" alt="">
                    </div>
                    <div class="amount">
                        <h2 class="number_shown">955741</h2>
                    </div>
                    <div class="sentence__two">
                        <h2>Increased by 5%</h2>
                    </div>
                </div>
            </div>

        </section>

    </main>

</div>